<ion-view view-title="Integrantes do Grupo">
  <ion-content class="has-header ionic-pseudo">

    <div class="list">

      <a class="item item-avatar" href="https://github.com/brenoqueiroz">
        <img src="https://avatars2.githubusercontent.com/u/5479606?v=3&s=460">
        <h2>Breno Queiroz</h2>
        <p>brenoqueiroz</p>
      </a>

      <a class="item item-avatar" href="https://github.com/Diego-Soares">
        <img src="https://avatars0.githubusercontent.com/u/5099569?v=3&s=460">
        <h2>Diego Soares</h2>
        <p>Diego-Soares</p>
      </a>

      <a class="item item-avatar" href="https://github.com/gvsrepins">
        <img src="https://avatars3.githubusercontent.com/u/480445?v=3&s=460">
        <h2>Gabriel Vítor</h2>
        <p>gvsrepins</p>
      </a>

      <a class="item item-avatar" href="https://github.com/romulobr">
        <img src="https://avatars3.githubusercontent.com/u/477894?v=3&s=460">
        <h2>Rômulo Santos</h2>
        <p>romulobr</p>
      </a>

      <a class="item item-avatar" href="https://github.com/Saliba">
        <img src="https://avatars0.githubusercontent.com/u/2147900?v=3&s=460">
        <p>Saliba</p>
      </a>

      <a class="item item-avatar" href="https://github.com/tiagoporto">
        <img src="https://avatars2.githubusercontent.com/u/3688905?v=3&s=460">
        <h2>Tiago Porto</h2>
        <p>tiagoporto</p>
      </a>

      <a class="item item-avatar" href="https://github.com/wilkerfoureaux">
        <img src="https://avatars3.githubusercontent.com/u/2434331?v=3&s=400">
        <h2>wilker</h2>
        <p>wilkerfoureaux</p>
      </a>
    </div>

  </ion-content>
</ion-view>
