<ion-modal-view>
  <ion-header-bar>
    <h1 class="title"> Tire ai sua foto!</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Fechar</button>
    </div>
  </ion-header-bar>

  <ion-content class="padding">

    <p>
      <img ng-src="{{userData.avatar_url}}" style="max-width:100%;">
    <p>

    <p>Tire sua foto e envie por e-mail</p>

    <button ng-click="tirarFoto()" class="button button-balanced button-block">Tirar foto</button>

  </ion-content>
</ion-modal-view>