/*! ==================================================================
   Main Styles
   ================================================================== */

// Box model reset
*,
*:before,
*:after
	box-sizing: border-box

*
	-webkit-tap-highlight-color rgba(0,0,0,0)
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */
html,body
	height 100%

body
	body-typography()
	-webkit-touch-callout none     /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust none   prevent webkit from resizing text to fit
	-webkit-user-select none       /* prevent copy paste, to allow, change 'none' to 'text' */
	background-attachment fixed
	background-color #FFF
	margin 0px
	padding 0px
	width 100%

/* Portrait layout (default) */

#offline
	z-index 999999999
	background rgba(0, 0, 0, .9)
	position absolute
	color lighten(#000, 80%)
	text-shadow: 1px 1px 0 #FFF
	text-align center
	font-size em(20px)
	display none

	.modal
		padding em(10px)
		margin 40% 0 0 20%
		width 60%
		height 30%
		background-color lighten(#000, 20%)
		border-radius em(5px)
		box-shadow: 2px 2px 5px #000

	p
		margin-top 20%

.gesture-area
	position relative
	img
		width 100%

.pages
	position relative
	height 100%
	width 100%
	background transparent

h1
	margin-top 2em
	text-align center

	img
		width 70%

#deviceready
	background: url($image-path + 'bg.jpg') 0 0 no-repeat !important
	background-size cover !important
	// position relative
	width 100%
	height 100%
	display table

	.blink
		animation fade 2000ms infinite

.event
	&.listening
		text-align center
		font-size em(20px)
		font-weight bold
		color lighten(#000, 60%)
		display table-cell
		vertical-align middle

	&.received
		display none
		position absolute
		width 100%
		height 100%

.advertising
	display none
	position absolute
	width 100%
	height 100%
	background url($image-path + 'advertisement.png') center center no-repeat
	background-size cover

	img
		width 100% !important

.menu
	background: rgba(0,0,0, .5)
	width 100%
	position absolute
	bottom 0

	ul
		clearfix()
		list-style-type none
		padding 0

	li
		width (100% / 3)
		display inline
		float left
		text-align center

	a
		margin auto
		display block

		&:active
			background-color rgba(0,0,0,.5)



.submenu
	background lighten(#000, 60%)
	margin 0 -1em
	clearfix()
	position fixed
	width 100%
	z-index 99999
	height em(32px)

	span, a
		padding em(6px) 0
		width (100%/4)
		display inline
		float left
		text-align center
		text-decoration none

	a
		font-weight lighter
		&:active
			background-color lighten(#000, 60%)
	span
		background-image linear-gradient(left, #B5B7B9 0%, #FFF 90%)

	.selected
		background rgba(0,0,0,.5)

.margin-submenu
	width 100%
	height 2em

.nationalities
	span, a
		width (100%/3)

.header
	height 20%
	border-bottom em(5px) solid lighten(#000, 80%)
	background url($image-path + 'bg.jpg') 0 0 no-repeat !important
	background-size cover !important
	position fixed
	width 100%
	z-index 99999

	h2
		text-align center
		margin-bottom em(10px)

		img
			width 55%
	p
		display inline

	a
		@extend $hide-text-link
		position absolute
		left .5em
		top 2em

.margin-header
	width 100%
	height 20%


.expanded-content
	.date, .nationalities
		a
			color #FFF

	.time
		color #FFF
		background #808184
		display inline
		float left
		padding em(20px) 0
		text-align center
		min-width em(60px)
		border-right em(5px) solid transparent
		margin-right em(10px)
		margin-top (em(-10px))

	.picture
		display inline
		float left
		margin-right em(10px)
		margin-top (em(-10px))

	.separator
		font-weight bold
		text-align center

	.resume
		margin-top em(20px)


	.debates
		border-right-color #11582D

	.temas-livres
		border-right-color #FFCA05

	.mesa-redonda
		border-right-color #A91C20

	.curso-aospine
		border-right-color #EB008B

	.curso-srs
		border-right-color #F48120

	.simposio-satelite
		border-right-color #47A4AD

	.intervalo
		border-right-color #FFCA05

	.outros
		border-right-color #58595B

	.place
		display block
		font-weight normal
		font-size em(14px)
		overflow hidden

	.collapse
		display none

		p
			font-size em(14px)
			// margin 0.2em 0

	.bold
		font-weight bold
		margin-top em(15px) !important

	.title
		font-weight bold
		font-size em(16px) !important

	.name
		text-transform uppercase

	td
		font-size em(14px) !important
		vertical-align top

		p
			font-size em(14px, 14px) !important

			&:first-child
				margin-top 0 !important

	.time-td
		width em(110px)
		text-align center
		padding-right em(10px)
		font-weight bold

	.active
		display block

	.favorite
		position absolute
		right em(25px)
		top 48%
		text-indent -9999px
		margin-top -(em(image-size("../images/svg-sprite/favorito.svg")[1]/2))

	.svg-votacao
		position relative
		display inline
		float left
		margin-right em(5px)

#minhas-atividades
	.remove
		display none


#votacao
	.ui-content
		a
			background $primary-color
			display block
			padding em(15px) 0
			font-size em(70px)
			width 48%
			line-height 0
			margin-bottom 4%
			text-decoration none
			float left
			text-align center
			border-radius em(5px)
			color #FFF

			&:nth-child(odd)
				margin-right 4%

			&.disabled
				background #BBBCBF

		.clearfix
			clearfix()

		.important-text
			opacity 0
			display inherit
			text-align center


#sponsors
	h3
		width 50%
		margin 0
		float left

	.stand
		float right
		margin em(16px) em(30px) 0 0

	.sponsor-link
		border-bottom em(1px) solid #D0D2D3
		width 100%
		height em(50px)
		display table
		vertical-align middle
		position relative
		padding em(10px) 0

		&:after
			@extend .svg-seta
			@extend .svg-seta-dims
			content ''
			right 0
			position absolute
			top 50%
			margin-top -(image-size("../images/svg-sprite/seta.svg")[1]/2)

		clearfix()

		img
			height em(40px)
			max-width 100%


.find-stand
	border 1px solid #000
	border-radius em(5px)
	margin em(10px) 0

	.ui-shadow-inset
		box-shadow none !important
		margin 0 !important
		border none !important

	input
		width 80%
		float left
		border none
		box-shadow none

	button
		width 20%
		background none !important
		border none !important
		box-shadow none !important

#event-map
	background white

.icon
	display block
	float left
	margin em(-10px) em(10px) 0


.important-text
	color $primary-color
	text-align center

.button
	text-decoration none
	color #FFF !important
	text-align center
	width 100%
	background-image linear-gradient(top, $primary-color, darken($primary-color, 20%))
	display block
	border-radius em(5px)
	padding em(6px) 0
	border 1px solid #231F20

	&:active
		background-image linear-gradient(top, darken($primary-color, 20%), $primary-color)

.table
	width 100%
	margin em(10px) 0
	th
		background #7f8183
		color #FFF
	td, th
		border 1px solid #ddd
		padding em(5px)

.svg-map-pin
	position absolute

.img
	margin -.6em -1.1em 0

	.favoritar
		position absolute

	img
		width 100%

.padding-element
	a
		padding em(10px) em(30px) em(10px) em(20px)

/*! ==================================================================
    Jquery Mobile Elements
    ================================================================== */

.ui-content
	padding-top 0
	padding-bottom 0

.ui-collapsible-set
	margin-top 0
	margin-bottom 0

.ui-collapsible-heading-toggle
	padding em(10px) em(50px) 0 0

#informacoes
	.ui-collapsible-heading-toggle
		padding em(20px) em(50px) em(10px) 0


.ui-btn-icon-left
	padding-left 0

	&:after
		content ''
		right 0
		position absolute
		top 50%
		margin-top -(image-size("../images/svg-sprite/seta.svg")[1]/2)

.ui-icon-plus:after, .ui-icon-minus:after
	@extend .svg-seta
	@extend .svg-seta-dims
	transition all .4s
	transform-origin 50% 50%


.ui-icon-minus:after
	transform rotate(90deg)

#sessoes-interativas
	.ui-icon-plus:after, .ui-icon-minus:after
		@extend .svg-participar
		@extend .svg-participar-dims

	.ui-icon-minus:after
		transform none


.ui-collapsible-content>.ui-listview
	margin 0
